@import 'variables';
@import 'tabs';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  background-image: url('../images/bamboo-background.jpg')
}

h1 {
  color: #000000;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7);
}